<html>

	<head>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
   	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
   	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />

	<script src='//api.tiles.mapbox.com/mapbox.js/plugins/turf/v2.0.0/turf.min.js' charset='utf-8'></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
   	<script type="text/javascript">
  		const ACCESSTOKEN = '{{ mapbox_key }}';
   	</script>
	</head>
	<body>
	<style>
		body {bottom:0; padding:0;}
		#subwaymap { position:absolute; top:0; bottom:0; width:100%; }
		.mapboxgl-popup-tip .mapboxgl-popup-content {
			background-color: rgba(0, 0, 0 , 0);
		}
	</style>

	<div id="subwaymap"></div>
	</body>
	<script src="../static/js/livesubway.js" type="text/javascript"></script>

</html>
